@import "bootstrap";

.Footer {
  @extend .mt-auto;
  @extend .bg-dark;
  @extend .text-center;
  @extend .text-white;
  @extend .pt-2;

  .SocialNetwork {
    @extend .btn;
    @extend .btn-dark;
    @extend .rounded-circle;
    @extend .mx-1;
    @extend .text-white;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #30353b;
  }
}