@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

html {
  @extend .h-100;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  @extend .bg-light;
  @extend .h-100;
  margin: 0;
  font-family: sans-serif;
}

p {
  font-size: 0.9em;
}

div#root {
  @extend .d-flex;
  @extend .flex-column;
  @extend .h-100;
}
